.courseDetails_top {
  padding: 30px 60px;
  background-color: #034cdd;
  margin-top: -5px;
}

.courseDetails_top p {
  font-size: 12.5px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: left;
  color: white;
}

.courseDetails_top span {
  color: #bdbdbd;
}

.courseDetails_body {
  display: flex;
  flex-direction: row;
  padding: 40px 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.courseDetails_body1 {
  flex: 1;
  margin-right: 60px;
}

.courseDetails_body1Head h1 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-align: left;
  width: 500px;
  padding: 0 0 20px 0;
}

.courseDetails_body1Head > p {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #034cdd;
  padding: 5px 0;
  border-radius: 5px;
  opacity: 0px;
  background: #034cdd33;
  width: 120px;
  text-align: center;
  margin: 0 0 20px 0;
  opacity: 1;
}

.courseDetails_body1HeadList {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.courseDetails_body1HeadList > p {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.1px;
  text-align: left;
  color: #4f4f4f;
  padding-right: 20px;
}

.courseDetails_body1HeadList > p > span {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #000000;
}

.courseDetails_body1HeadList > button {
  font-size: 10px;
  font-weight: 500;
  line-height: 24.29px;
  letter-spacing: -0.12142857164144516px;
  text-align: left;
  color: #272d37;
  padding: 4.86px 12.14px;
  border-radius: 6px;
  opacity: 1;
  background: #034cdd33;
  margin-left: 20px;
}

video {
  border-radius: 10px;
  width: 100%;
  color: #ffa200;
}

.courseDetails_overview,
.courseDetails_learn,
.courseDetails_requirements {
  position: relative;
  max-width: 800px;
  padding: 20px 30px;
  margin: 40px 0;
  border-radius: 10px;
  border: 1px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 85.88%
  );
  border: 1px solid #bdbdbd;
}

.courseDetails_overview > p:nth-child(1),
.courseDetails_learn > p:nth-child(1),
.courseDetails_requirements > p:nth-child(1) {
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  padding-bottom: 15px;
}

.text-collapse {
  overflow: hidden;
  position: relative;
  max-height: 12em;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: justify;
  color: #333333;
}

.text-collapse::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.5em;
}

.text-expand {
  display: block;
  max-height: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: justify;
  color: #333333;
}

.toggleButton {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #034cdd;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.1px;
  text-align: justify;
}

.toggleButton:hover {
  background-color: #0056b3;
}

.courseDetails_learn li,
.courseDetails_requirements li {
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: justify;
  color: #333333;
}

.courseDetails_body2 {
  width: 300px;
  height: fit-content;
  padding: 30px 30px;
  border-radius: 10px;
  border: 1px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 85.88%
  );
  border: 1px solid #bdbdbd;
}

.coursePrice > p:nth-child(1) {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-align: left;
}

.discount {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.discount > p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-decoration: line-through;
  color: #828282;
}

.discount > span {
  font-size: 8px;
  font-weight: 400;
  color: white;
  margin-left: 10px;
  margin-bottom: 25px;
  background: #034cdd;
  line-height: 10px;
  padding: 5px 0;
  border-radius: 5px;
  width: 50px;
  text-align: center;
}

.coursePrice > button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  background-color: #034cdd;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.1px;
  text-align: center;
  width: 100%;
}

.coursePrice button:nth-of-type(2) {
  background-color: white;
  color: #034cdd;
  border: 1px solid #034cdd;
}

.coursePrice button:nth-of-type(2):hover {
  background-color: #034cdd33;
  border: 1px solid #034cdd33;
  color: #034cdd;
}

.courseLists > p {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  padding-bottom: 15px;
  margin-top: 10px;
}

.courseLists li {
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: justify;
  color: #333333;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-inner {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  width: 50%;
  text-align: center;
}

.popup-innerHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
}

.popup-innerHead p {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.popup-innerHead span {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2px;
  text-align: left;
  outline-color: #828282;
}

.popup-inner img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.popup-inner .innerBtn {
  cursor: pointer;
  color: #fff;
  background-color: #034cdd;
  margin: 10px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2px;
  text-align: center;
}

.popup-innerBody {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

.popup-innerBody img {
  width: 108px;
  height: 73px;
  border-radius: 10px;
}

.popup-innerBody p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 5px 0 0 20px;
}

.popup-innerBody span {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2px;
  text-align: left;
  margin-top: 5px;
  outline-color: #828282;
}


@media screen and (max-width: 768px) {
  .courseDetails_top {
    padding: 20px 30px;
  }

  .courseDetails_top > p {
    margin: 20px 0;
  }

  .courseDetails_body {
    flex-direction: column;
    padding: 20px 30px;
  }

  .courseDetails_body1,
  .courseDetails_body2 {
    width: 100%;
    margin-right: 0;
    padding: 10px 0;
  }

  .courseDetails_body1Head h1 {
    width: 100%;
  }

  video {
    width: 100%;
  }

  .courseDetails_overview,
  .courseDetails_learn,
  .courseDetails_requirements {
    padding: 15px 20px;
    margin: 20px 0;
  }

  .courseDetails_body1HeadList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .courseDetails_body2 {
    padding: 20px;
    margin: 30px 0;
    width: 87%;
  }

  .coursePrice > button,
  .popup-inner .innerBtn {
    width: 100%;
  }

  .popup-inner {
    padding: 10px;
    max-width: 90%;
  }

  .popup-innerBody {
    flex-direction: column;
    align-items: center;
  }

  .popup-innerBody img {
    width: 80%;
    margin-bottom: 10px;
  }

  .popup-innerBody p,
  .popup-innerBody span {
    text-align: center;
    padding-left: 0;
  }
}