.drop {
  width: 100%;
  max-width: 200px;
  padding: 0 20px;
  font-size: 12px;
  border: 1px solid #989696;
  border-radius: 8px;
  background-color: white;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

