.top-hero {
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #034cdd;
  color: white;
  padding: 60px;
}

.top-hero .hero1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: center;
  padding: 0 50px 0 50px;
}

.top-hero .hero2 {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: -0.1px;
  text-align: center;
  padding: 30px 320px;
}

.hero-input {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}

.input1 {
  flex-grow: 1;
  padding: 8px 240px 8px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 12px;
}

input::placeholder {
  text-align: left;
}

button {
  padding: 8px 16px;
  background-color: white;
  color: #034cdd;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.top-hero img {
  width: 900px;
  height: 300px;
  border-radius: 20px;
  position: absolute;
  display: block;
  margin: auto;
  top: 450px;
}

@media (max-width: 768px) {
  .top-hero {
    padding: 30px 20px;
  }

  .top-hero .hero1 {
    font-size: 28px;
    padding: 10px 20px;
    line-height: 44px;
  }

  .top-hero .hero2 {
    font-size: 14px;
    padding: 20px;
  }

  .input1 {
    padding: 8px 20px;
  }

  .top-hero img {
    width: 450px;
    height: 150px;
    top: 500px;
  }
}
