.loginContainer {
  margin: 10px 60px;
}

.loginHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loginHead p {
  font-size: 24px;
  font-weight: bold;
  line-height: 36.31px;
  text-align: left;
  color: #034cdd;
}

.join {
  font-size: 16px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 10px;
}

.loginBody {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 20px 40px 20px 20px;
}

.loginContent label {
  font-size: 12px;
  font-weight: 500;
  line-height: 20.84px;
  letter-spacing: -0.1px;
  text-align: left;
  padding-bottom: 50px;
}

.loginContent input {
  width: 100%;
  border: 1px solid #dae0e6;
  box-shadow: 0px 1px 2px 0px #1018280a;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 10px;
}

.loginContent input::placeholder {
  font-size: 10px;
  font-weight: normal;
  line-height: 22.92px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #919ba7;
}

.or {
  font-size: 10px;
  font-weight: 400;
  line-height: 15.27px;
  letter-spacing: -0.08px;
  text-align: center;
  margin-bottom: 5px;
}

.loginButton {
  padding: 8px 120px;
  gap: 4.58px;
  border-radius: 6px;
  background: #034cdd;
  color: white;
  box-shadow: 0px 1px 2px 0px #1018280a;
  font-size: 14px;
  font-weight: normal;
  line-height: 19.85px;
  letter-spacing: -0.08px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.error {
  font-size: 12px;
  font-weight: normal;
  line-height: 19.85px;
  letter-spacing: -0.08px;
  color: red;
  text-align: center;
  margin-top: 5px;
}

.loginSocialButton1 {
  padding: 8px 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 6px;
  border: 1px 0px 0px 0px;
  border: 1px solid #034cdd;
  box-shadow: 0px 1px 2px 0px #1018280a;
  font-size: 12px;
  font-weight: 500;
  line-height: 19.85px;
  letter-spacing: -0.07634584605693817px;
  margin-bottom: 10px;
  color: black;
  justify-content: center;
}

.loginSocialButton2 {
  padding: 8px 52px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 6px;
  border: 1px 0px 0px 0px;
  border: 1px solid #034cdd;
  box-shadow: 0px 1px 2px 0px #1018280a;
  font-size: 12px;
  font-weight: 500;
  line-height: 19.85px;
  letter-spacing: -0.07634584605693817px;
  margin-bottom: 20px;
  color: black;
  justify-content: center;
}

.loginBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.line {
  height: 1px;
  background-color: #e0e0e0;
  width: 100%;
  margin: 0;
}

.loginBottom p:first-child {
  font-size: 10px;
  font-weight: 400;
  line-height: 15.27px;
  letter-spacing: -0.08px;
  text-align: center;
}

.loginBottom p:first-child a {
  font-size: 10px;
  font-weight: 400;
  line-height: 15.27px;
  letter-spacing: -0.08px;
  text-align: center;
  color: #034cdd;
  text-decoration: none;
}

.loginBottom p:last-child {
  font-size: 10px;
  font-weight: 400;
  line-height: 15.27px;
  letter-spacing: -0.08px;
  text-align: left;
}

.loginBottom p:last-child a {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.27px;
  letter-spacing: -0.08px;
  text-align: left;
  color: #034cdd;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .loginContainer {
    margin: 20px;
  }

  .loginHead {
    flex-direction: row;
    justify-content: space-between;
  }

  .loginBody {
    width: 80%;
    margin: 10px auto;
  }

  .loginHead p {
    text-align: left;
    font-size: 24px;
  }

  .loginContent input {
    font-size: 14px; 
    padding: 10px; 
  }

  .join {
    font-size: 14px;
    margin: 20px auto;
  }

  .loginContent label {
    font-size: 14px;
  }

  .loginButton {
    padding: 10px 100px;
  }
}
