.resultHead {
  margin-top: -2px;
  padding: 0 60px;
  background: #034cdd;
  color: white;
}

.resultHead_1 {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: white;
  text-decoration: none;
}

.resultHead_1 > span {
  color: #bdbdbd;
}

.resultHead_2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 68px;
  letter-spacing: -0.02em;
  text-align: left;
}

.resultSearch {
  padding: 15px 60px;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  justify-content: space-between;
}

.resultSearch_input {
  width: 420px;
  height: 40px;
  gap: 0px;
  border-radius: 8px;
  border: 1px solid #989696;
  padding: 0 20px;
  margin-right: -80px;
}

.resultSearch_button {
  width: 120px;
  height: 40px;
  gap: 20px;
  border-radius: 8px;
  background: #034cdd;
  color: white;
  margin-right: 80px;
}

.resultSearch_filter {
  width: 40px;
  height: 40px;
  gap: 10.43px;
  border-radius: 8px;
  border: 1px solid #989696;
  box-shadow: 0px 1.3px 2.61px 0px #1018280a;
}
