.signupContainer {
  margin: 10px 60px; 
}

.signupHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signupHead p {
  font-size: 24px;
  font-weight: bold;
  line-height: 36.31px;
  text-align: left;
  color: #034cdd;
}

.join {
  font-size: 16px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 10px;
}

.signupBody {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 20px 40px 20px 20px;
}

.signupContent label {
  font-size: 12px;
  font-weight: 500;
  line-height: 20.84px;
  letter-spacing: -0.1px;
  text-align: left;
  padding-bottom: 50px;
}

.signupContent input {
  width: 100%;
  border: 1px solid #dae0e6;
  box-shadow: 0px 1px 2px 0px #1018280a;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 12px;
}

.signupContent input::placeholder {
  font-size: 10px;
  font-weight: normal;
  line-height: 22.92px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #919ba7;
}

.signupButton {
  padding: 8px 120px;
  gap: 4.58px;
  border-radius: 6px;
  background: #034cdd;
  color: white;
  box-shadow: 0px 1px 2px 0px #1018280a;
  font-size: 14px;
  font-weight: normal;
  line-height: 19.85px;
  letter-spacing: -0.08px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.error{
  font-size: 12px;
  font-weight: normal;
  line-height: 19.85px;
  letter-spacing: -0.08px;
  color: red;
  text-align: center;
  margin-top: 5px;
}

.signupBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.line {
  height: 1px; 
  background-color: #e0e0e0; 
  width: 100%; 
  margin: 10px 0;
}

.signupBottom p:first-child {
  font-size: 10px;
  font-weight: 400;
  line-height: 15.27px;
  letter-spacing: -0.07634584605693817px;
  text-align: left;
}

.signupBottom p:first-child a {
  font-size: 10px;
  font-weight: 400;
  line-height: 15.27px;
  letter-spacing: -0.07634584605693817px;
  text-align: left;
  color: #034cdd;
  text-decoration: none;
}

.signupBottom p:last-child {
  font-size: 10px;
  font-weight: 500;
  line-height: 15.27px;
  letter-spacing: -0.07634584605693817px;
  text-align: left;
}

.signupBottom p:last-child a {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.27px;
  letter-spacing: -0.07634584605693817px;
  text-align: left;
  color: #034cdd;
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  .signupContainer {
    margin: 20px;
  }

  .signupHead {
    flex-direction: row;
    justify-content: space-between;
  }

  .signupBody {
    width: 80%;
    margin: 10px auto;
  }

  .signupHead p {
    text-align: left;
    font-size: 24px;
  }

  .signupContent input {
    font-size: 12px; 
    padding: 14px; 
  }

  .join {
    font-size: 14px;
    margin: 20px auto;
  }

  .signupContent label {
    font-size: 14px;
  }

  .signupButton {
    padding: 10px 100px;
  }

  .signupBottom p:first-child{
    text-align: center;
  }
}

